/* Marjon Induction App Style Sheet - 2013 */

/* Global */

img {
    height: auto;
    max-width: 100%;
}

#regHead h1 {
	text-shadow: none;
}

#menuBtn {
	top: 5px;
}

#menuBtn .ui-btn-inner {
	padding: 0;
}

#menuBtn img {
	width: 21px;
	height: 21px;
	padding: 3.5px 8px;
}

p#top {
	margin-top: 0;
}

.popUpHeader {
	color: #333;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

.closeCross {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
}

h3 {
	margin: 0;
}

.contentContainer {
	padding: 15px;
}

/* Global Overwrites */

.ui-body-a, .ui-overlay-a {
    border: none;
}

.ui-content h2 {
	margin: 0;
}

.ui-icon-checkbox-on {
    background-position: -648px 0;
}

.ui-body-b, .ui-overlay-b {
    border: 1px solid #90C501;
}

.ui-content {
    padding: 0;
}

.ui-loading .ui-loader {
    border-radius: 2em;
}

.ui-popup.ui-content, .ui-popup .ui-content {
    padding: 15px;
}

.ui-bar, .ui-body {
    padding: 0.4em;
}

/* Choose Page */

#indexHead {
	height: 80px;
}

#headerLogo {
	width: 48px;
	margin: 5px auto 0 auto;
	display: block;
}

#footerBar {
	background: none;
	border: none;
}

#indexFooterLogo {
	width: 215px;
	margin: 0 auto 20px auto;
	display: block;
	padding: 0 10px;
}

/* Menu Panel */

.ui-page-active.ui-page-panel {
	overflow-x: visible;
}

.ui-panel#menuPanel {
    width: 17em;
}

#menuPanel {
	padding: 0;
	height: 100%;
	border: none;
	background: #444;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.65) inset;
}

#menuPanel h2 {
	padding: 10px 0 5px 0;
	margin: 0 10px;
	border-bottom: medium solid #999;
	font-size: 16px;
	font-style: uppercase;
	text-transform: uppercase;
	color: #d8d8d8;
	text-shadow: 0 1px 0 #666;
}

#menuPanel ul {
	margin: 6px 0 0 0;
	list-style: none;
	padding: 0;
}

#menuPanel li {
	text-indent: 10px;
	cursor: pointer;
}

#menuPanel li:hover {
	background: #555;
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.65);
	border-left: thick solid #8FC402;
	text-indent: 5px;
}

#menuPanel li a {
	padding: 15px 10px 15px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	font-weight: normal;
}

#menuPanel li a.timetable {
	background: url(../images/ui/panelTimetableIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.map {
	background: url(../images/ui/panelMapIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.bring {
	background: url(../images/ui/panelBringIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.onlineEnrolment {
	background: url(../images/ui/panelEnrolmentIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.freshers {
	background: url(../images/ui/panelFreshersIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.training {
	background: url(../images/ui/panelTrainingIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.ssl {
	background: url(../images/ui/panelSSLIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.learning {
	background: url(../images/ui/panelLearningIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.network {
	background: url(../images/ui/panelSocialNetworksIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.app {
	background: url(../images/ui/panelAppIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.help {
	background: url(../images/ui/panelHelpIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

/* What to Bring page */

#accomoCollapse0 .ui-collapsible-content, #accomoCollapse1 .ui-collapsible-content, #accomoCollapse2 .ui-collapsible-content {
	padding: 0;
}

#accomoCollapse0 .ui-controlgroup, #accomoCollapse1 .ui-controlgroup, #accomoCollapse2 .ui-controlgroup {
	margin: 0;
}

/* ///////////////// */

#checkGroup .ui-grid-a {
	margin-bottom: 2px;
}

#checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon {
    left: 18px;
}

#checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon-checkbox-on, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon-checkbox-on, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon-checkbox-on {
    left: 15px;
}

#checkGroup .ui-checkbox .ui-btn-icon-left .ui-btn-inner, #checkGroup .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
    padding-left: 50px;
}

#checkGroup .ui-grid-a .ui-bar, #checkGroup .ui-grid-b .ui-bar {
	border: none;
	background: none;
	padding: 0;
}

#checkGroup .ui-grid-a .ui-bar label, #checkGroup .ui-grid-b .ui-bar label {
	margin: 0;
}

#checkGroup .ui-block-a {
	width: 100%;
	height: 42px;
}

#checkGroup .ui-block-a .ui-checkbox .ui-icon {
	display: block;
	border: 2px solid #92C508;
	top: 17px;
}

#checkGroup .ui-block-b {
	position: absolute;
    right: 13px;
    width: 45px;
    z-index: 2;
}

#checkGroup .ui-block-b a {
	margin: 0;
	height: 40px;
	width: 40px;
}

#checkGroup .ui-block-b img {
	height: 20px;
	width: 20px;
	padding: 9px;
}

#checkGroup .ui-block-b .ui-btn-inner {
	padding: 0;
}

/* Landing page */

img#landingLogo, img#mobileLogo {
	margin: 15px auto 0;
	display: block;
	height: 150px;
	width: 150px;
}

#landingSplash {
	border-bottom: 5px solid #91C505;
}

img#menuArrow {
	width: 150px;
	border: none;
	margin: 0 auto;
	display: block;
}

img#menuPush, img#menuShow {
	width: 150px;
	border: 1px solid #91C505;
	margin: 0 auto;
	display: block;
}

#landingInstruc .ui-bar-e {
	background: none;
	border: none;
}