/* Marjon Induction App Style Sheet - 2013 */

/* Global */

img {
    height: auto;
    max-width: 100%;
}

#regHead {
}

#menuBtn .ui-btn-inner {
	padding: 0;
}

#menuBtn img {
	width: 21px;
	height: 21px;
	padding: 3.5px 8px;
}

/* Choose Page */

#indexHead {
	height: 80px;
}

#headerLogo {
	width: 48px;
	margin: 5px auto 0 auto;
	display: block;
}

#footerBar {
	background: none;
	border: none;
}

#indexFooterLogo {
	width: 215px;
	margin: 0 auto 20px auto;
	display: block;
	padding: 0 10px;
}