/* Marjon Induction App Style Sheet - 2013 */

/* Global */

img {
    height: auto;
    max-width: 100%;
}

#regHead h1 {
	text-shadow: none;
}

#menuBtn {
	top: 5px;
}

#menuBtn .ui-btn-inner {
	padding: 0;
}

#menuBtn img {
	width: 21px;
	height: 21px;
	padding: 3.5px 8px;
}

p#top {
	margin-top: 0;
}

.popUpHeader {
	color: #333;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
	margin: 0;
}

.closeCross {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	padding-left: 10px;
}

h3 {
	margin: 0;
}

.contentContainer {
	padding: 15px;
}

a.inlineBtn {
	margin: 0;
}

.ui-popup-container .ui-content p.sessionHelpInfo, .ui-popup-container .ui-content img.popupImg {
	margin: 1em 0;
}

.ui-popup-container .ui-content p:last-child.sessionHelpInfo {
	margin-bottom: 0;
}

.valError {
    background-color: #FFDCDC;
    border: 1px dotted #CC0000;
    color: #CC0000;
    padding: 10px;
	text-shadow: none;
}

.valSuccess {
    background-color: #D8F2C6;
    border: 1px dotted #2B7D12;
    color: #2B7D12;
    padding: 10px;
	text-shadow: none;
}

/* Global Overwrites */

.ui-body-a, .ui-overlay-a {
    border: none;
}

.ui-content h2 {
	margin: 0;
}

.ui-icon-checkbox-on {
    background-position: -648px 0;
}

.ui-body-b, .ui-overlay-b {
    border: 1px solid #90C501;
}

.ui-content {
    padding: 0;
}

.ui-loading .ui-loader {
    border-radius: 2em;
}

.ui-popup.ui-content, .ui-popup .ui-content {
    padding: 15px;
}

.ui-bar, .ui-body {
    padding: 0.4em;
}

.ui-li-heading {
    white-space: normal;
}

.ui-header .ui-btn-right, .ui-footer .ui-btn-right {
    right: 5px;
    top: 5px;
}

/* Choose Page */

#indexHead {
	height: 80px;
}

#headerLogo {
	width: 48px;
	margin: 5px auto 0 auto;
	display: block;
}

#footerBar {
	background: none;
	border: none;
}

#indexFooterLogo {
	width: 215px;
	margin: 0 auto 20px auto;
	display: block;
	padding: 0 10px;
}

/* Menu Panel */

.ui-page-active.ui-page-panel {
	overflow-x: visible;
}

.ui-panel#menuPanel {
    width: 17em;
}

#menuPanel {
	padding: 0;
	height: 100%;
	border: none;
	background: #444;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.65) inset;
}

#menuPanel h2 {
	padding: 10px 0 5px 0;
	margin: 0 10px;
	border-bottom: medium solid #999;
	font-size: 16px;
	font-style: uppercase;
	text-transform: uppercase;
	color: #d8d8d8;
	text-shadow: 0 1px 0 #666;
}

#menuPanel ul {
	margin: 6px 0 0 0;
	list-style: none;
	padding: 0;
}

#menuPanel li {
	text-indent: 10px;
	cursor: pointer;
}

#menuPanel li:hover {
	background: #555;
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.65);
	border-left: thick solid #8FC402;
	text-indent: 5px;
}

#menuPanel li a {
	padding: 15px 65px 15px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	font-weight: normal;
}

#menuPanel li a.timetable {
	background: url(../images/ui/panelTimetableIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.map {
	background: url(../images/ui/panelMapIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.bring {
	background: url(../images/ui/panelBringIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.onlineEnrolment {
	background: url(../images/ui/panelEnrolmentIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.freshers {
	background: url(../images/ui/panelFreshersIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.training {
	background: url(../images/ui/panelTrainingIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.ssl {
	background: url(../images/ui/panelSSLIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.learning {
	background: url(../images/ui/panelLearningIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.network {
	background: url(../images/ui/panelSocialNetworksIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.app {
	background: url(../images/ui/panelAppIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

#menuPanel li a.help {
	background: url(../images/ui/panelHelpIcon.png) no-repeat right;
	background-position: 93% 50%;
	background-size: 30px, 30px;
}

/* What to Bring page */

#accomoCollapse0 .ui-collapsible-content, #accomoCollapse1 .ui-collapsible-content, #accomoCollapse2 .ui-collapsible-content {
	padding: 0;
}

#accomoCollapse0 .ui-controlgroup, #accomoCollapse1 .ui-controlgroup, #accomoCollapse2 .ui-controlgroup {
	margin: 0;
}

/* ///////////////// */

#checkGroup .ui-grid-a {
	margin-bottom: 2px;
}

#checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon {
    left: 18px;
}

#checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse0 .ui-btn-icon-left .ui-icon-checkbox-on, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse1 .ui-btn-icon-left .ui-icon-checkbox-on, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon-checkbox-off, #checkGroup #accomoCollapse2 .ui-btn-icon-left .ui-icon-checkbox-on {
    left: 15px;
}

#checkGroup .ui-checkbox .ui-btn-icon-left .ui-btn-inner, #checkGroup .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
    padding-left: 50px;
}

#checkGroup .ui-grid-a .ui-bar, #checkGroup .ui-grid-b .ui-bar {
	border: none;
	background: none;
	padding: 0;
}

#checkGroup .ui-grid-a .ui-bar label, #checkGroup .ui-grid-b .ui-bar label {
	margin: 0;
}

#checkGroup .ui-block-a {
	width: 100%;
	height: 42px;
}

#checkGroup .ui-block-a .ui-checkbox .ui-icon {
	display: block;
	border: 2px solid #92C508;
	top: 17px;
}

#checkGroup .ui-block-b {
	position: absolute;
    right: 13px;
    width: 45px;
    z-index: 2;
}

#checkGroup .ui-block-b a {
	margin: 0;
	height: 40px;
	width: 40px;
}

#checkGroup .ui-block-b img {
	height: 20px;
	width: 20px;
	padding: 9px;
}

#checkGroup .ui-block-b .ui-btn-inner {
	padding: 0;
}

/* Landing page */

img#landingLogo, img#mobileLogo {
	margin: 15px auto 0;
	display: block;
	height: 150px;
	width: 150px;
}

#landingSplash {
	border-bottom: 5px solid #91C505;
}

img#menuArrow {
	width: 150px;
	border: none;
	margin: 0 auto;
	display: block;
}

img#menuPush, img#menuShow {
	width: 150px;
	border: 1px solid #91C505;
	margin: 0 auto;
	display: block;
}

#landingInstruc .ui-bar-e {
	background: none;
	border: none;
}

/* Mobile App page */

ul#appFeatureList {
	list-style: none;
	padding: 0;
}

ul#appFeatureList li {
	background: url(../images/ui/bullet.png) left 2px no-repeat;
	background-size: 16px, 16px;
	padding-left: 25px;
	margin: 10px 0;
}

/* Canvas Map page */

#campusMap #regHead {
	height: 42px;
}

label#mapLabel, label#searchLabel {
	display: none;
}

#regHead div.ui-slider-switch {
	display: inline-block;
	position: absolute;
	right: 60px;
	top: 5px;
	margin: 0;
	width: 10em;
	height: 32.5px;
}

#mapCanvas {
	border: medium solid #8FC402;
}

#campusSearchBar .ui-btn-icon-notext .ui-btn-inner .ui-icon {
    float: left;
    margin: 3px 4px;
}

#campusSearchBar .ui-input-search {
    margin: 0;
}

#campusSearchBar .ui-icon, #campusSearchBar .ui-icon-searchfield:after {
    background-color: transparent;
    background-image: url("images/icons-18-black.png");
    background-repeat: no-repeat;
    border-radius: 9px 9px 9px 9px;
}

#campusSearchBar .ui-icon-delete {
	background-image: url("images/icons-18-white.png");
}

#localSearchBar {
	display:none;	
}

#localSearchBar .ui-btn-icon-notext .ui-btn-inner .ui-icon {
    float: left;
    margin: 3px 4px;
}

#localSearchBar .ui-input-search {
    margin: 0 0 0.5em 0;
}

#localSearchBar .ui-icon, #localSearchBar .ui-icon-searchfield:after {
    background-color: transparent;
    background-image: url("images/icons-18-black.png");
    background-repeat: no-repeat;
    border-radius: 9px 9px 9px 9px;
}

#localSearchBar .ui-icon-delete {
	background-image: url("images/icons-18-white.png");
}


#localOverlays {
	display:none;	
}

.mapInfoBox {
	/*width:250px;
	height:100px;*/
	background-color:#0C6;
	
}

img[src*="iws3.png"] {
    display: none;
}

ul#suggestions {
	margin-top: 0;
}

#mapCanvas .infoBox {
	font-size: 14px;
	text-shadow: 0 1px 0 #F4F4F4;
}

.contentContainer #mapCanvas .infoBox {
	top: 119px;
}

#mapCanvas img {
	width: 15px;
	height: 15px;
}

p.facItem, p.resItem {
	padding-right: 20px;
	margin: 0;
}

/* Training session page */

a.sessionHelp {
	width: 38px;
	height: 32px;
}

a.sessionHelp span.ui-btn-inner {
	padding: 0;
}

a.sessionHelp span.ui-btn-inner img {
	margin: 0;
	height: 30px;
	width: 30px;
}

#preInducSessions .ui-collapsible-content, #postInducSessions .ui-collapsible-content {
	padding: 0;
}

#preInducSessions .ui-collapsible-content ul, #postInducSessions .ui-collapsible-content ul {
	margin: 0;
}

#preInducSessions .ui-collapsible-content ul .ui-btn-up-a, #postInducSessions .ui-collapsible-content ul .ui-btn-up-a, #preInducSessions .ui-collapsible-content ul .ui-btn-hover-a, #postInducSessions .ui-collapsible-content ul .ui-btn-hover-a {
    border-left: 1px solid #82B400;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

p.sessionDetails {
	margin: 0.5em 0 0 0;
}

.sessionUnChecked span.ui-icon {
	background-position: -452px -1px;
}

.sessionChecked span.ui-icon {
	background-position: -252px -1px;
}

p.sessionInfo {
	white-space: normal;
	text-overflow: string;
}

p.sessionHelpInfo {
	font-size: 12px;
}

img.popupImg {
	margin: 0 auto;
	border: solid thin #8FC400;
	display: block;
}

#signUpFormWrap {
	padding: 20px;
	display: inline-block
}

#signUpFormWrap a {
	margin: 0;
}

#signUpFormWrap a#signUpBtn {
	float: left;
}

#signUpFormWrap a#cancelBtn {
	float: right;
}

/* Learning at Marjon page */

#learningVids .ui-collapsible-content {
	padding: 0;
}

.fluidVideo {
	position: relative;
	padding-bottom: 50.5%; /* 1024 x 768 */
	padding-top: 25px;
	height: 0;
}

.fluidVideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Social Networks page */

.socialNetworkIcons .ui-bar, .socialNetworkIcons .ui-bar a {
	border: none;
	background: none;
	box-shadow: none;
}

.socialNetworkIcons .ui-bar a span {
	padding: 0;
}

.socialNetworkIcons img {
	height: auto;
	width: 123px;
}

/* Help page */

textarea#message {
	height: 120px;
	resize: none;
}

label#feedbackLabel {
	display: none;
}

#messageLabel {
	padding: 0;
	margin: 0;
}

img#helpLogo {
    display: block;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}

#feedbackCollapsible .ui-collapsible-content {
	padding: 0;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	   
.sessionUnChecked span.ui-icon {
	background-position: -432px -1px;
}

.sessionChecked span.ui-icon {
	background-position: -224px -1px;
}
	   
.ui-icon-check {
	background-image: url(images/icons-36-white.png);
	-moz-background-size: 775px 18px;
	-o-background-size: 775px 18px;
	-webkit-background-size: 775px 18px;
	background-size: 775px 18px;
}
	   
.ui-icon-checkbox-on {
	background-position: 	-647px 50%;
}

.ui-icon-checkbox-off {
	background-position: 	-560px 50%;
}
	
#campusSearchBar .ui-icon, #campusSearchBar .ui-icon-searchfield:after, #localSearchBar .ui-icon, #localSearchBar .ui-icon-searchfield:after {
    background-color: transparent;
    background-image: url("images/icons-36-black.png");
    background-repeat: no-repeat;
    border-radius: 9px 9px 9px 9px;
}

#campusSearchBar .ui-icon-delete, #localSearchBar .ui-icon-delete {
	background-image: url("images/icons-36-white.png");
	background-position: -73px 50%;
}

.ui-icon-search, .ui-icon-searchfield:after {
	background-position: -610px 50%;
}
}