<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode = "1" 
        version   = "0.1">

		<!-- versionCode is optional and Android only -->
	
		<name>Marjon Induction App</name>
	
		<description>
			Marjon Induction App. Offering help and guidance as you join the University of St. mark &amp; St. John. 
		</description>
	
		<author href="https://www.marjon.ac.uk" email="elearning@marjon.ac.uk">
			eLearning Team - University of St. Mark &amp; St. John &copy; 2013
		</author>
		
		<preference name="phonegap-version" value="2.5.0" />
		<preference name="fullscreen" value="true" />
		<!-- iOS specific preferences -->
		<preference name="prerendered-icon" value="true" />
		<preference name="show-splash-screen-spinner" value="false" />
		<!-- Blackberry specific preferences -->
		<preference name="disable-cursor" value="true" />
		<!-- Android specific preferences -->
		<preference name="load-url-timeout" value="30000" />
		<preference name="splash-screen-duration" value="15000" />
		
		<icon src="icon.png" />
		<gap:splash src="splash.png" />
	</widget>